#listado-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%; 
  margin: 0 auto;
  box-sizing: border-box;
}

.card {
  width: 280px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-md-4 {
  flex: 0 0 280px;
  margin-right: 0px;
}

@media (max-width: 768px) {
  .layout-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 20px;
    box-sizing: border-box;
  }

  .layout-productos aside {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
  }

  .layout-productos section {
    width: 150%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
  }

  #listado-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
  }

  .card {
    width: 200%;
  }

  .filtros{
    width: 400px;
  }
}

@media (max-width: 450px) {
  .layout-productos {
    padding: 16px;
    gap: 20px;
  }

  .layout-productos aside {
    max-width: 320px;
    padding: 12px;
  }

  .layout-productos section {
    max-width: 360px;
    padding: 0 12px;
  }

  #listado-productos {
    gap: 20px;
  }

  .card {
    width: 280px;
    padding: 16px;
  }
}
